html, body {
    margin: 20px;
}
.container > div{
    border-style: solid;
    padding: 5px;
    text-align: center;
    background-color: lightblue;
    /* width: 50px; */
}

.container{
    display: flex;
    border-style: solid;
}